<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Representações</title>
  </head>
<body>
  <div class="container">
    <div class="card-body w-80 p-3 mx-auto" style="background-color: #eee;">
      <h2 class="nav justify-content-center">Galvão Representações</h2>
      <a class="btn btn-primary" href="/portas/show" role="button">Portas Salete</a>
      <a class="btn btn-primary" href="/argacel/show" role="button">Argacel</a>
      <a class="btn btn-primary" href="/fiocab/show" role="button">FioCab</a>
      <a class="btn btn-primary" href="/reserva/show" role="button">Reserva Ferramentas</a>
      <a class="btn btn-primary" href="/sulflex/show" role="button">Sulflex</a>
      <a class="btn btn-primary" href="/esplanada/show" role="button">Vassouras Esplanada</a>
      <a class="btn btn-primary" href="/artlustres/show" role="button">ArtLustres</a>
      <a class="btn btn-primary" href="/tucano/show" role="button">Tucano</a>
      <a class="btn btn-primary" href="/empresa/show" role="button">Empresas</a>
      <a class="btn btn-primary" href="/pedido/listarPedidos" role="button">Pedidos</a>
    </div>
</div>
</body>
</html>
