<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Representações</title>
  </head>
<body>
  <a class="btn btn-primary" href="/portas/show" role="button">Portas Salete</a>
  <a class="btn btn-primary" href="/empresa/show" role="button">Empresas</a>
  <a class="btn btn-primary" href="/pedido/create" role="button">Novo Pedido</a>
</body>
</html>
