<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>
    <h2>Registrar Porta<h2>
    <div class="card">
      <div class="card-body">
        <form action="/empresa/show" method="POST">
            <input type="text" placeholder="Razão Social" name="razaosocial">
            <input type="text" placeholder="Endereço" name="endereco">
            <input type="text" placeholder="Cidade" name="cidade">
            <input type="text" placeholder="CEP" name="cep">
            <input type="text" placeholder="CNPJ" name="cnpj">
            <input type="text" placeholder="Inscrição Estadual" name="ie">
            <input type="text" placeholder="Email" name="email">
            <input type="text" placeholder="Telefone" name="telefone">
            <input type="text" placeholder="Comprador" name="comprador">
            <button type="submit">Enviar</button>
        </form>
        <button><a href="/empresa/show">Voltar</a></button>
      </div>
    </div>
</body>
</html>
