<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reserva</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="card" style="background-color: #eee;">
      <h2><a class="mt-1" href="/">Início</a></h2>
      <h2><a href="/reserva/show">Reserva/</a>Registrar Produto</h2>
      <div class="card-body  w-50 p-3 mx-auto" >
        <form action="/reserva/show" method="POST">
          <div class="column-3 column label">
            <label>Código</label>
          </div>
          <div class="column-9 column input">
            <input class="form-control" type="text" name="codigo">
          </div>
          <div class="column-3 column label">
            <label>Nome</label>
          </div>
          <div class="column-9 column input">
            <input class="form-control" type="text" name="nome">
          </div>
          <div class="column-3 column label">
            <label>Valor</label>
          </div>
          <div class="column-9 column input">
          <input class="form-control" type="text" name="valor">
          </div>
          <a class="btn btn-secondary mt-1" href="/reserva/show">Voltar</a>
          <button class="btn btn-success float-right mt-1" type="submit">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
