<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Portas</title>
</head>
<body>
  <div id="container">
    <div class="card">
      <div class="card-body w-50 p-3 mx-auto" style="background-color: #eee;">
        <h2>Atualizar Valores das Portas</h2>
        <form action="/portas/autalizarvalores" method="POST">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Valor atual</th>
                <th scope="col">Valor Novo</th>
              </tr>
            </thead>
            <% data.forEach(function(details) { %>
              <tbody>
                <tr>
                  <td><label><%= details %></label></td>
                  <td><input class="form-control" type="text" name="<%= details %>" value="<%= details %>"></td>
                </tr>
              </tbody>
            <% }) %>
        </table>
        <a class="btn btn-secondary mt-1" href="/portas/show">Voltar</a>
        <button class="btn btn-success float-right mt-1" type="submit">Atualizar</button>
      </form>
      </div>
    </div>
  </div>
</body>
</html>
